In [8]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
import sys
sys.path.append('../../')
import numpy as np
import pandas as pd

from probabilistic.capabilities.uncertainty_definitions import NormalDistribution, UniformDistribution, LognormalDistribution, TruncatedNormalDistribution, DeterministicCharacterization
from probabilistic.capabilities.sampling import OneAtATimeSensitivityStudy, BoundingStudy

In [10]:
study_parameters = {}
study_parameters['parameter_1'] = NormalDistribution(name='parameter 1',
                                                     uncertainty_type='aleatory',
                                                     nominal_value=5,
                                                     mean=5,
                                                     std_deviation=1)

study_parameters['parameter_2'] = UniformDistribution(name='parameter 2',
                                                      uncertainty_type='aleatory',
                                                      nominal_value=2,
                                                      lower_bound=0,
                                                      upper_bound=5)

study_parameters['parameter_3'] = LognormalDistribution(name='parameter 3',
                                                        uncertainty_type='aleatory',
                                                        nominal_value=1,
                                                        mu=-.3,
                                                        sigma=.3)

study_parameters['parameter_4'] = TruncatedNormalDistribution(name='parameter 4',
                                                              uncertainty_type='epistemic',
                                                              nominal_value=2,
                                                              mean=2,
                                                              std_deviation=1,
                                                              lower_bound=0,
                                                              upper_bound=4)

study_parameters['deterministic_1'] = DeterministicCharacterization(name='deterministic 1',
                                                                    value=5)

In [27]:
bounding_sensitivity_study = BoundingStudy(number_of_aleatory_samples=1,
                                           number_of_epistemic_samples=1,
                                           random_state=np.random.default_rng())
bounding_sensitivity_study.add_variables(study_parameters)
bounding_study_samples = bounding_sensitivity_study.create_variable_sample_sheet()

one_at_a_time_sensitivity_study = OneAtATimeSensitivityStudy(number_of_aleatory_samples=5,
                                                             number_of_epistemic_samples=2,
                                                             random_state=np.random.default_rng())
one_at_a_time_sensitivity_study.add_variables(study_parameters)
one_at_a_time_study_samples = one_at_a_time_sensitivity_study.create_variable_sample_sheet()

In [28]:
pd.DataFrame(bounding_study_samples)

   parameter 1  parameter 2  parameter 3  parameter 4  deterministic 1
0     2.673652         2.00     1.000000     2.000000              5.0
1     7.326348         2.00     1.000000     2.000000              5.0
2     5.000000         0.05     1.000000     2.000000              5.0
3     5.000000         4.95     1.000000     2.000000              5.0
4     5.000000         2.00     0.368651     2.000000              5.0
5     5.000000         2.00     1.488702     2.000000              5.0
6     5.000000         2.00     1.000000     0.151916              5.0
7     5.000000         2.00     1.000000     3.848084              5.0

In [29]:
pd.DataFrame(one_at_a_time_study_samples)

    parameter 1  parameter 2  parameter 3  parameter 4  deterministic 1
0      3.253811     2.000000     1.000000     2.000000              5.0
1      4.193804     2.000000     1.000000     2.000000              5.0
2      5.228202     2.000000     1.000000     2.000000              5.0
3      5.601721     2.000000     1.000000     2.000000              5.0
4      6.359338     2.000000     1.000000     2.000000              5.0
5      5.000000     0.201945     1.000000     2.000000              5.0
6      5.000000     1.050325     1.000000     2.000000              5.0
7      5.000000     2.951277     1.000000     2.000000              5.0
8      5.000000     3.631600     1.000000     2.000000              5.0
9      5.000000     4.564901     1.000000     2.000000              5.0
10     5.000000     2.000000     0.438736     2.000000              5.0
11     5.000000     2.000000     0.581666     2.000000              5.0
12     5.000000     2.000000     0.793311     2.000000              5.0
13     5.000000     2.000000     0.887378     2.000000              5.0
14     5.000000     2.000000     1.113827     2.000000              5.0
15     5.000000     2.000000     1.000000     1.968520              5.0
16     5.000000     2.000000     1.000000     3.070459              5.0